<% layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="text-center mt-5" style="opacity: 0.7; margin-bottom: 300px;">
            <h2 style="padding-left: 1rem; padding-bottom: 0.5rem;">Nothing found with '<%= q %>'</h2>
        </div>

    </body>

    </html>