<% layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="col-6 offset-3" style="margin-bottom: 100px;">

            <form method="post" action="/login" novalidate class="needs-validation">
                <h1>Login to your account:</h1>
                <br>
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold">Username </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username"
                    name="username" required>
                    <div class="invalid-feedback">Username cannot be empty!</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">Password </label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Enter your password" name="password" required>
                    <div class="invalid-feedback">Password cannot be empty!</div>
                </div>
                <button class="bttn bttn-primary">LogIn</button>
            </form>
        </div>
    </body>

    </html>