<% layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="col-6 offset-3 signup-form-container">

            <form method="post" action="/signup" novalidate class="needs-validation">
                <h1>Enter your details:</h1>
                <br>
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold">Username </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                    name="username" required>
                    <div class="invalid-feedback">Username cannot be empty!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Email </label>
                    <input type="email" class="form-control" id="email"
                        placeholder="Enter your email" name="email" required>
                    <div class="invalid-feedback">Email cannot be empty!</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">Password </label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Create a strong password" name="password" required>
                    <div class="invalid-feedback">Password cannot be empty!</div>
                </div>
                <button class="bttn bttn-primary">SignUp</button>
            </form>
        </div>
    </body>

    </html>